.sidebar {
    width: 260px;
    height: 100vh;
    background: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Это раздвинет топ и футер */
    padding: 20px;
    border-right: 1px solid rgba(56, 189, 248, 0.2);
    position: fixed;
}

.sidebar-top-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стили почты */
.mail-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-badge {
    background: #ef4444;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 8px;
    font-weight: bold;
}

/* ФУТЕР ПАНЕЛИ */
.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
}

.home-btn:hover {
    background: rgba(56, 189, 248, 0.2);
    color: #38bdf8;
}

.logout-btn:hover {
    background: rgba(239, 68, 68, 0.2);
    color: #ef4444;
}

/* Профиль в сайдбаре */
.user-profile-mini {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    margin: 15px 0;
}